option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django_app/fingo_test/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fingo_test.settings
    PYTHONPATH: /opt/python/current/app/django_app:$PYTHONPATH
