option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django_app/fingo/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fingo.settings
    PYTHONPATH: /opt/python/current/app/django_app:$PYTHONPATH
files:
  "/tmp/cronjob":
    mode: "000777"
    owner: "ec2-user"
    group: "ec2-user"
    content: |
      59 23 * * * source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django_app/manage.py get_boxoffice
    encoding: plain
container_commands:
  purge_basket:
    command: crontab /tmp/cronjob
    leader_only: true
commands:
#  01_makemigration:
#    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django_app/manage.py makemigrations --noinput"
#    leader_only: true
#  02_migrate:
#    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django_app/manage.py migrate --noinput"
#    leader_only: true
#  03_get_boxoffice:
#    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django_app/manage.py get_boxoffice"
#    leader_only: true
  04_delete_cronjob_file:
    command: rm /tmp/cronjob

