option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django_app/fingo/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fingo.settings
    PYTHONPATH: /opt/python/current/app/django_app:$PYTHONPATH
#commands:
#  01_makemigration:
#    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django_app/manage.py makemigrations --noinput"
#    leader_only: true
#  02_migrate:
#    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django_app/manage.py migrate --noinput"
#    leader_only: true
#  03_get_boxoffice:
#    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django_app/manage.py get_boxoffice"
#    leader_only: true
#  04_crontab_add:
#    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/django_app/manage.py crontab add"
#    leader_only: true

